div.inputContainer{
    margin:10px;
}


div.failed{
    background-color: red;
}

.primarySelection{
    background-color: aqua;
}

.secondarySelection{
    background-color: greenyellow;
}


menu#bracketSectionMenuContainer.toggleSelection{
    display:flex;
    flex-wrap: wrap;
    background-color: red;
    margin:0;
    width:100%;
    overflow: hidden;
}
menu#bracketSectionMenuContainer *{
    height:max-content;
}