div.inputContainer{
    margin:10px;
}
.toggleSelection{
    background-color: yellow;
}

div.failed{
    background-color: red;
}

.primarySelection{
    background-color: aqua;
}

.secondarySelection{
    background-color: greenyellow;
}

.navigationEntry{
    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}