*{
    --main-content-color:#ebedf0;
    --sub-menu-color:#cfcbc0;
    --main-menu-color:azure;
}

#topMenuContainer{
    display: flex;
    position: sticky;
    top:0;
    left:0;
    z-index: 10;
    width:min-content;
    align-items: stretch;
    border-width: 0.5em 0.5em 0.5em;
    border-image-source: radial-gradient(50% 50%,rgba(235,237,240,1) 10%,rgba(235,237,240,0.7) 90%,transparent 100%);
    border-image-repeat: stretch;
    border-image-slice: 30% 49%;
    border-style: solid;
    margin: 0em 0em 0.5em;
    background-color: transparent ;
}
#topMenuContainer>*{
    background-color: var(--main-content-color);
}

#configurationMenuContainer{
    width:max-content;
}

#configurationMenuContainer li{
    background-color: var(--main-menu-color);
    margin-top:0.01em;
    border-width: 1px;
    border-color: black;
    border-style:solid;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding:0.08em;
    padding-left: 0.34em;
    position:relative;
    min-width:max-content;
}
#configurationMenuContainer li:nth-of-type(1){
    margin-top:0;
}

#configurationMenuContainer li:hover::before{
   border-left:solid black 3px;
   content:"";
   position:absolute;
   height:100%;
   /* border-top-left-radius: 8px;
   border-bottom-left-radius: 8px; */
    border-radius:8px;
   box-sizing: border-box;
   top:0;
   left:-2px;
   width:16px;
}
#configurationMenuContainer li.toggleSelection{
    background-color: var(--sub-menu-color);
    border-right-style:none;
}

#competitorSectionMenuContainer{
    flex-grow:1;
    max-width: 50%;

}
#competitorSectionMenu{

   display:flex;
    align-items: stretch;
    height: 100%;
    width:100%
    

    
}
#competitorSectionMenu li{
   
    border-width: 1px 0;
    border-color: black;
    border-style:solid;
    display:flex;
    align-items:center;
    flex-grow:1;
    flex-basis: 0;
    padding:0 1em;
    min-width:max-content;
    background-color: var(--sub-menu-color);
}

#competitorSectionMenu li:nth-of-type(1){
   padding-left: 2em;
   flex-grow: 0;
}
#competitorSectionMenu li:last-of-type{
    border-color: black;
    border-style:solid;
    border-right-width: 1px;
}
#competitorSectionMenu li>div{
    width:100%;
    height:100%;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
#competitorSectionMenu li.toggleSelection{
    border-bottom-width: 0;
    background-color: var(--main-content-color);
 }
 
menu#bracketSectionMenuContainer.toggleSelection{
    display:grid;
    grid-template-columns:auto auto auto;
    column-gap:4px;
    grid-template-rows:1fr 1fr;
    margin:0;
    width:max-content;
    padding:4px 6px 4px 8px;
    border: 1px black solid;
    border-left-width: 0;
    height:100%;
    background-color: var(--sub-menu-color);
}
menu#bracketSectionMenuContainer li:nth-child(3){
    grid-row: 2;
}
menu#bracketSectionMenuContainer li:nth-child(5){
    grid-area:1/3;
}
menu#bracketSectionMenuContainer li:nth-child(4){
    grid-area: 2/2/span 1 / span 2 
}
menu#bracketSectionMenuContainer form{
    font-size: 10px;
}
menu#bracketSectionMenuContainer form .inputContainer{
    margin:0;
}
menu#bracketSectionMenuContainer form .inputContainer input{
font-size: 12px;
}

#schedulingSectionMenuContainer {
    height:100%;
}
menu.schedulingSectionMenuContainer {
    display:grid;
    grid-template-columns:1fr;
    column-gap:4px;
    grid-template-rows:1fr 1fr;
    margin:0;
    width:max-content;
    padding:4px 6px 4px 8px;
    border: 1px black solid;
    border-left-width: 0;
    height:100%;
    background-color: var(--sub-menu-color);
}

menu.schedulingSectionMenuContainer .inputContainers{
    display:flex;
}
menu.schedulingSectionMenuContainer .inputContainers .inputContainer{
    margin:0;
    margin-right:0.8em;
}

menu.schedulingSectionMenuContainer .inputContainers .inputContainer input[type='number']{
    width:50px;
}

menu.schedulingSectionMenuContainer .formControls{
    display:flex;
    column-gap: 0.2em;
}