div.popUpBase.toggleSelection{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-color: rgba(130, 123, 122, 0.8);
    z-index:100;
    overflow: hidden;
}

div.popUpBase>menu{
    min-width:20%;
    min-height:10%;
    max-height:80%;
}
div.popUpBase>menu>section.popUpContentContainer{
    width:100%;
    height:100%;
    overflow: hidden;
}
div.popUpBase>menu>section.popUpContentContainer>form{
    width:100%;
    height:100%;
}
div.popUpBase>menu>section.popUpContentContainer>form>section.inputContainers{
    background-color: white;
    max-height: 90%;
    overflow: auto;
}
